# Enforce LF line endings for code files
*.js text eol=lf
*.ts text eol=lf
*.json text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Allow CRLF for Windows-only scripts if needed
*.bat text eol=crlf
